	<title>Welcome to Pokemon</title>
	  <!-- JQUERY -->
	  <script
	src="https://code.jquery.com/jquery-3.2.1.min.js"
	integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
	crossorigin="anonymous"></script>
	  <!-- APP -->
		 <script src="app.js"></script>
	  <!-- <script src="app.js"></script> -->
	  <!--STYLE SHEET-->
		<link rel="stylesheet" href="/css/normalize.css">
		<link rel="stylesheet" href="/css/skeleton.css">
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
		integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
		crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="/css/app.css">
	  <!--FONT FAMILY-->
	  <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">
